name : flask-helloworld
on: 
  push:
    branches: [ master ]
jobs: 
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Dockerhub log in
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
        id: buildx # id de su dung tai step khac
        
      - name: Build And Push Docker Image
        uses: docker/build-push-action@v2
        id: docker_build
        with:
          context: ./
          file: Dockerfile
          builder: ${{ steps.buildx.outputs.name }} # su dung step khac thong qua id
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/github-action-demo

      - name: Verify
        run: echo ${{ steps.docker_build.outputs.digest }}

